version: '3'
services:
  rabbitmq:
    hostname: "rabbitmq"
    image: "rabbitmq:latest"
    container_name: "rabbitmq2"
    ports:
      - "5672:5672"

  weather_api:
    container_name: "weather_api"
    build:
      context: weather_api
      dockerfile: Dockerfile
    tty: true
    depends_on:
      - "rabbitmq"
    restart: on-failure
    volumes:
      - ./weather_api:/usr/src/app

  weather_data_csv:
    container_name: "weather_data_csv"
    build:
      context: weather_data_csv
      dockerfile: Dockerfile
    tty: true
    depends_on:
      - "rabbitmq"
    restart: on-failure
    volumes:
      - ./weather_data_csv:/usr/src/app

  weather_data_transformation:
    container_name: "weather_data_transformation"
    build:
      context: weather_data_transformation
      dockerfile: Dockerfile
    tty: true
    depends_on:
      - "rabbitmq"
    restart: on-failure
    volumes:
      - ./weather_data_transformation:/usr/src/app

  weather_timeseries:
    container_name: "weather_timeseries"
    build:
      context: weather_timeseries
      dockerfile: Dockerfile
    tty: true
    depends_on:
      - "rabbitmq"
    volumes:
      - ./weather_timeseries:/usr/src/app
